html{
    height: 100%;
    background: radial-gradient(#ffffff, #9198e5) no-repeat;
    background-size: cover;
    
}

@font-face {
    src: url('../assets/fonts/pokemon-dp-pro.ttf');
    font-family: pokemon;
}

body {
    font-family: pokemon;
    margin: 0;
    padding: 0;

}

.KSA-div{
    width: 180px;
    position: relative;
    left: 10%;
}

.link-container{
    text-decoration: none;
    color: black;
}

.thumbnail{
    display: block;
    width: 160px;
    position: relative;
    border: 1px solid white;
    border-radius: 6px 6px 0px 0px;
    border-bottom: none;
    top: 16px;
    box-shadow: 0 -1px 0 1px black,
                inset 0 1px 0 1px black,
                0 0 0 1px black,
                inset 0 0 0 1px black;
    z-index: 2;
}

.textbox{
    display: block;
    width: 150px;
    position: relative;
    border-radius: 0px 0px 6px 6px;
    padding: 5px;
    line-height: 16px;
    background: white;
    border: 1px solid white;
    border-top: none;
    box-shadow: 0 1px 0 1px black,
                inset 0 1px 0 1px black,
                0 0 0 1px black,
                inset 0 0 0 1px black;
    z-index: 1;
}

.centerText{
    text-align: center;
    transform: translateY(10%);
}

.back{
    background: none;
    border: none;
    font-size: 40px;
    font-family: pokemon;
    position: absolute;
    bottom: 20%;
    right: 10%;
    cursor: pointer;
}

.back:hover{
    color: rgb(204, 204, 204);
}

footer {
    text-align: center;
    padding: 0rem;
    background-color: #333;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}